<html>
    <head>
        <title>Default</title>
        <link rel="icon" href="img/img01.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            Oops :( {{title}}
        </p>
    </div>
    {{>footer}}
</body>
</html>